{% extends 'base.html.twig' %}

{% block body %}
	<main>
		<h1 class="my-5">Modifier la série</h1>
		<div class="container col-lg-6">
			{{ form_start(formProgram) }}
			{{ form_row(formProgram.title) }}
			{{ form_row(formProgram.synopsis) }}
			{{ form_row(formProgram.poster) }}
			{{ form_row(formProgram.category) }}
			{{ form_row(formProgram.actors) }}
			<button class="btn btn-primary text-white px-3" type="submit">Modifier</button>
			{{ form_end(formProgram) }}
		</div>
	</main>
{% endblock %}
