{% extends 'base.html.twig' %}

{% block title %}Wild Series
{% endblock %}

{% block body %}
	<main class="container program">
		<h1 class="my-5">{{ website }}</h1>
		<div class="d-flex flex-column align-items-center">
			{% if is_granted('ROLE_CONTRIBUTOR') %}
				<a class="btn btn-secondary text-white px-3 mb-5 fs-6" href="{{ path('program_new') }}">Ajouter une série</a>
			{% endif %}
			<div class="row gap-4 justify-content-around mx-sm-3 w-100">
				<div class="search col-lg-9">
					{{ form_start(form) }}
					{{ form_widget(form) }}
					{{ form_end(form) }}
				</div>
				{% for program in programs %}
					<div class="card col-lg-5 bg-dark border border-primary opacity-75 p-0">
						<img src="https://picsum.photos/200/300?random={{program.id}}" class="card-img-top">
						<div class="card-body h-100">
							<h2 class="card-title text-white text-center">
								{{ program.title }}</h2>
							<h3 class="h5 my-3">
								{{ program.category.name }}</h3>
							<p class="card-text flex-grow-1">Synopsis :
								{{ program.synopsis }}</p>
						</div>
						<a class="btn btn-primary text-light" href="{{ path('program_show', {'slug': program.slug}) }}">Voir</a>
					</div>
				{% else %}
					<p class="col-lg-9">Aucune série trouvée.</p>
				{% endfor %}
			</div>
		</div>
	</main>
{% endblock %}
