<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
	<div class="container-fluid d-flex justify-content-between">
		<div class="d-flex align-items-center">
			<img src="{{ asset('build/images/logo.png') }}" alt="Wild Series logo">
			<a class="navbar-brand fs-2" href="{{ path('app_index') }}">Wild Series</a>
		</div>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav align-items-center">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('app_index') }}">Accueil</a>
				</li>
				<li class="nav-link dropdown p-0">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Category
					</a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
						{{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('program_index') }}">Séries</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ path('actor_index') }}">Acteurs</a>
				</li>
				{% if app.user %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('program_favorites') }}">Séries favories</a>
					</li>
				{% endif %}
			</ul>
		</div>
		<div class="justify-self-end">
			{% if app.user %}
				<span class="align-middle me-2">
					{{ app.user.email }}
				</span>
				<a class="btn btn-primary text-white" href="{{ path('app_logout') }}">Se déconnecter</a>
			{% else %}
				<a class="btn btn-primary text-white" href="{{ path('login') }}">Se connecter</a>
			{% endif %}
		</div>
	</div>
</nav>
